/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  //background: linear-gradient(to top, #c70039, #ff5733 70%);
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #c70039, #ff5733 70%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}