// Slider Style

.slide-show-container{
  width: 100%;
  height: 100vh;
  .slide-content{
    img{
      width: 100%;
      height: 100vh;
    }
  }
}

.carousel-indicators{
  li{
    width: 60px;
    height: 5px;
    border-radius: 10px;
    border: none;
  }
}
.carousel-indicators .active {
  background-color: #ff5733;
}

.text-danger{
  color: white!important;
  text-align: left;
  h3{
    font-size: 40px;
  }
  p{
    font-size: 18px;
    width: 50%;
  }
}
.carousel-caption{
  padding: 0;
  bottom: 50%;
}

.carousel-control-prev, .carousel-control-next{
  width: 10%;

}

.carousel-control-prev-icon, .carousel-control-next-icon{

}

/***************************************
           Responsive Style
****************************************/

@media (min-width: 0) and (max-width: 576px){

  .slide-show-container{
    height: 60vh;
    .slide-content{
      img{
        width: 100%;
        height: 60vh;
      }
    }
  }
  .text-danger{
    display: block!important;
    bottom: 30%;
    h3{
      font-size: 23px!important;
    }
    p{
      font-size: 15px;
      width: 100%;
    }
  }

}

@media (min-width: 576px) and (max-width: 767px){

  .slide-show-container{
    height: 100vh;
    .slide-content{
      img{
        width: 100%;
        height: 100vh;
      }
    }
  }
  .text-danger{
    display: block!important;
    bottom: 36%;
    h3{
      font-size: 23px!important;
    }
    p{
      font-size: 15px;
      width: 100%;
    }
  }

}

@media (min-width: 767px) and (max-width: 992px) {

  .slide-show-container{
    height: 100vh;
    .slide-content{
      img{
        width: 100%;
        height: 100vh;
      }
    }
  }
  .text-danger{
    display: block!important;
    bottom: 36%;
    h3{
      font-size: 23px!important;
    }
    p{
      font-size: 15px;
      width: 100%;
    }
  }

}